streamlit>=1.45.0
streamlit-option-menu>=0.4.0

pandas>=2.2.3
numpy>=2.2.6

matplotlib>=3.10.3
plotly>=6.1.2
seaborn>=0.13.2

scikit-learn>=1.7.0
xgboost>=3.0.2
prophet>=1.1.7
statsmodels>=0.14.5
scipy>=1.15.3

joblib>=1.5.1
openpyxl>=3.1.5